/* https://coolors.co/palette/780000-c1121f-fdf0d5-003049-669bbc */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
  background: radial-gradient(circle, rgb(51, 51, 51) 0%, #000000ff 100%);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

input {
  border: 2px solid gray;
  border-radius: 25px;
  padding: 6px 4px;
}

button {
  cursor: pointer;
}

header {
  color: #fff;
  background-color: #003049;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
}

#titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#titulo h1,
#titulo p {
  margin: 0;
  padding-block: 0;
  line-height: 1.1;
}

#nombre-jugador {
  display: none;
  flex-direction: column;
  align-items: center;
}
#puntaje-jugador {
  display: none;
  flex-direction: column;
  align-items: center;
}

#controles {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#button-jugar {
  display: none;
  padding: 6px 10px;
  border: 1px solid #fff;
  background-color: #46ac0b;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 10px;
}
#button-jugar:hover {
  background-color: #357e0a;
}

#button-clasificaciones {
  padding: 6px 10px;
  border: 1px solid #fff;
  background-color: #dba511;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 10px;
}
#button-clasificaciones:hover {
  background-color: #b3870f;
}

#button-reiniciar {
  display: none;
  padding: 6px 10px;
  border: 1px solid #fff;
  background-color: #c1121f;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 10px;
}
#button-reiniciar:hover {
  background-color: #780000;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  perspective: 1500px;
}

#form-nombre {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#form-nombre input {
  text-align: center;
}

#form-nombre label {
  color: #fff;
  font-weight: 700;
  font-size: 1.3rem;
}

#form-nombre input:focus {
  outline: none;
}

#span-error-nombre {
  color: red;
  font-weight: 700;
  display: none;
}

#form-nombre button {
  width: 100%;
  padding-block: 10px;
  border: 2px solid #003049;
  background-color: #669bbc;
  color: #fff;
  border-radius: 10px;
}

#art-juego {
  display: none;
  width: 50%;
  aspect-ratio: 1/1;
}

#juego {
  display: flex;
  border: 10px solid black;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  transform: rotateX(50deg);
  transform-style: preserve-3d;
  box-shadow: 0 10px 0 20px rgba(0, 0, 0, 0.8);
}

.simon-boton {
  width: 50%;
  aspect-ratio: 1/1;
  cursor: pointer;
}

#simon-boton-1 {
  background-color: #00ff00;
}
#simon-boton-1:hover {
  background-color: #00a800;
}
#simon-boton-2 {
  background-color: #ff0000;
}
#simon-boton-2:hover {
  background-color: #ac0000;
}
#simon-boton-3 {
  background-color: #fff000;
}
#simon-boton-3:hover {
  background-color: #9e9400;
}
#simon-boton-4 {
  background-color: #0000ff;
}
#simon-boton-4:hover {
  background-color: #0000b1;
}

#art-clasificatoria {
  display: none;
  background-color: #f5f5f5;
  color: #000;
  padding: 10px 10px;
  border-radius: 15px;
  border: 2px solid black;
  text-align: center;
}

#art-clasificatoria th,
td {
  padding: 15px;
}

#art-clasificatoria thead th {
  border-bottom: 2px solid black;
}

#art-clasificatoria td {
  border-left: 1px solid black;
}

#art-clasificatoria td:first-child {
  border-left: none;
}

/* @media screen and (max-width: 728px) {
} */

/* Tablet */
@media screen and (min-width: 729px) {
  header {
    flex-direction: row;
    gap: 0px;
  }
}

/* Escritorio */
/* @media screen and (min-width: 1024px) {
} */
